body {
  background: linear-gradient(#A7727D,
      #EDDBC7,
      #F8EAD8,
      #F9F5E7);
  background-attachment: fixed;
}
#my_card {
  position: relative;
  background-color: #F9F5E7;
}
img{
  height: 200px;
  cursor: pointer;
}
.card-body{
  display: none;
}